* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.admin {
    display: flex;
    flex-direction: column;

    &__title {
        font-family: "Assistant";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 39px;
        color: #121212;
        margin: 20px 0 0 50px;
        margin-bottom: 20px;
    }
    &__text {
        font-family: "Assistant";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 39px;
        color: #121212;
        margin: 20px 0 0 50px;
        margin-bottom: 20px;
    }
    &__line {
        width: 98%;
        margin-top: 20px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
    }

    &__th,
    &__td {
        border: 1px solid black;
    }

    &__add th {
        background-color: grey;
        text-align: left;
    }

    &__box {
        margin: 20px 0 0 0;
    }
    &__inputbox {
        margin-bottom: 50px;
    }
    &__line {
        width: 97%;
    }
}
th,
td {
    border: 1px solid black;
}

.admin__table th {
    background-color: grey;
    text-align: left;
    padding: 5px 0 5px 5px;
}

.admin__inputtable input {
    width: 95%;
}

.admin__inputtable {
    margin-bottom: 100px;
    align-content: center;
}

.admin__inputtable button {
    width: 100%;
    height: 100%;
}
