$grey: #414141;

.card {
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.349);
  border: 1px solid #8d8d8d;
  max-width: 250px;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 410px;
  margin:15px;
  transition: box-shadow 1s;

  &:hover{
    border: 1px solid #000;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.700);
  }

  &__image{
    width: 200px;
    height: 200px;
    margin: 20px 20px 0 20px;
    }

  &__price{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    border-top: 3px solid $grey;
    
  }

  &__name{
    
    width: 220px;
    font-size: 16px;
    font-weight: 700;
    margin: 10px ;
    text-align: left;
    height: 36px;
  }

  &__producer{
    width: 220px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px 15ps 10px;
    color: rgb(65, 65, 65);

  }
  &__code{
    width: 220px;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    margin: 5px 10px 10px 10px;
    color: rgb(65, 65, 65);

  }

  &__button{
    border: none;
    outline: 0;
    font-size: px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 18px;
    transition: font-size 0,5s;

    &:hover{
      background-color: rgb(65, 65, 65);
      font-size: 20px;
      padding: 11px;
      
    }
  }
}
// so body vajag dzest ara
body{
  display: flex;
  justify-content: flex-start;
  
}

@media only screen and (max-width: 700px) {
  body {
    flex-direction: column;
  }

  .card{
    max-width:none;
    width: 100%;
    margin: 0 0 20px 0;

    &__button, &__code, &__producer, &__name{
      width: 100%;
    }

    &__code, &__producer, &__name{
      padding-left: 5%;
    }


  }

  
}
