.cartproduct {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &.hidden {
        display: none;
    }

    &__list {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__image {
        width: 60px;
        height: 60px;
        margin: 0 20px 0 2%;
    }

    &__name {
        margin-top: 20px;
        font-family: "Assistant";
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        line-height: 172%;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #121212;
        width: 200px;
    }

    &____quantity {
        margin-right: 30px;
    }

    &__minus,
    &__plus {
        margin-top: 20px;
        height: 10px;
        width: 30px;
        font-size: 25px;
        text-align: center;
        padding-bottom: 35px;
        background-color: white;
    }

    &__quantitynumber {
        height: 38px;
        width: 40px;
        margin-bottom: 5px;
        text-align: center;
        background-color: white;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }

    &__delete {
        margin-top: 20px;
        height: 40px;
        width: 50px;
        border-radius: 5px;
        background-color: white;
    }

    &__delete svg {
        height: 25px;
        width: 25px;
    }

    &__line {
        width: 100%;
    }

    &__price {
        margin-top: 35px;
        font-weight: bold;
        font-size: 20px;
        margin-right: 20px;
    }

    &__list2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }

    &__line {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .cartproduct {
        display: flex;
        flex-direction: column;
    }
    .cartproduct__list2 {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.cartproduct__line {
    width: 100%;
}
