

.header_container {
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1563456162378-f3b6b200289c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNhciUyMHdoZWVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;



    &__text h1 {
        
    }
}



