@import "./website.scss";

.wrapper {
    display: flex;
}

.product__title {
    margin-left: 850px;
}

.card__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    color: white;
    text-decoration: underline;
    width: 321px;
    height: 47px;
    background: #000000;
}
