/* 
    Stylesheet that should be imported at the beginning of each view's scss stylesheet.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
        position: relative;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    &__text {
        text-decoration: none;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 4px white;
        padding: 10px;
        font-size: 30px;
        font-weight: bold;
        color: white;

        &:hover {
            color: grey;
            border: solid 4px grey;
        }
    }
}

@media only screen and (max-width: 800px) {
    .landing__text {
        top: 40%;
    }
}

@media only screen and (max-width: 500px) {
    .landing__text {
        top: 25%;
    }
}
